.github/**
/Users/stuboo/udacity-git-course/new-git-project/pdsnd_github/chicago.csv
/Users/stuboo/udacity-git-course/new-git-project/pdsnd_github/new_york_city.csv
/Users/stuboo/udacity-git-course/new-git-project/pdsnd_github/washington.csv